<div class="row">

    <div class="col-12 my-3 text-center">
        <strong class="font-weight-bolder;">{{question.label}}</strong>
    </div>


    <div class="image-upload mb-3 col-12 text-center">
        
        <label class="w-30  p-4 jumbotron" for="file-input">
            <i class="fa fa-plus" style="font-size: 34px; color:#c5c5cd" ></i>
        </label>
    
        <input id="file-input" (change)="handleFileInput($event)" type="file"/>
    </div>
    
    <label *ngIf="question.required && srv.disabledCont" style="color:red;font-size: smaller;"> Bu alan zorunlu</label>

</div>
