/* Chrome, Firefox, Opera, Safari 10.1+ */
::placeholder { 
    font-size: 13px !important;
  }
  
  /* Internet Explorer 10-11 */
  :-ms-input-placeholder { 
    font-size: 13px !important;
  }
  
  /* Microsoft Edge */
  ::-ms-input-placeholder { 
    font-size: 13px !important;
  }