<div class="row">

    <div class="col-12 my-3 text-center">
        <strong class="font-weight-bolder;">{{question.label}}</strong>
    </div>

    <div class="col-12 mb-3">

        <div class="form-group">
            <textarea class="form-control" (input)="getData($event)" [placeholder]="question.placeHolder"
                id="exampleFormControlTextarea1" rows="3" style="resize: none;"></textarea>
        </div>


    </div>

    <label *ngIf="question.required && srv.disabledCont" style="color:red;font-size: smaller;"> Bu alan zorunlu</label>


</div>